    body {
        background-image: url('pizza-bg.png');
        background-color: #ffc107;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
    }
    a {
        text-decoration: none
    }
    body > main {
        background-color: rgba(255, 255, 250, .95);
    }
    body > footer a {
        color: #ffc107;
        text-decoration: underline;
    }
    .dropdown-custom {
        border-radius: .5rem;
        padding: .5rem;
        margin: .2rem;
        width: 16rem;
        background-color: #ffc107;
        color: black;
    }
    .dropdown-custom:hover {
        transition: .2s;
        background-color: #ecb306;
    }
    
    .cooler-card {
            width: 16rem;
    }
    
    @media screen and (min-width: 768px) {
        aside {
            max-width: 220px;
        }
        .cooler-card {
            width: 12rem;
        }
    }
    @media screen and (min-width: 992px) {
        .cooler-card {
            width: 16rem;
        }
    }